# Database configuration
POSTGRES_PASSWORD=your_password
POSTGRES_USER=your_username
POSTGRES_DB=your_database_name
POSTGRES_HOST=your_database_host(use db container name("quizzer-db") if using Docker Compose)
POSTGRES_PORT=your_database_port

# JWT configuration
JWT_SECRET=your_jwt_secret
JWT_ACCESS_EXPIRES_IN=your_jwt_access_experes_in
JWT_REFRESH_EXPIRES_IN=your_jwt_refresh_experes_in

# Misc configuration
PORT=your_port
PASSWORD_SALT_ROUNDS=your_password_slat_rounds
